#title {
    background-color:aqua; 
}

.container-fluid {
    padding: 3% 15%; 
}
h1 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 3rem; 
    line-height: 1.5;
}

h2 {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: bold;
}

h3{
    font-family: 'Poppins'; 
    font-weight: bold;
    font-size: 2.5rem;

}



p {
    color:#8f8f8f; 
}
.navbar {
    padding: 0 0 4.5rem; 
}
.navbar-brand {
    font-family: "Merriweather";
    font-size: 2.0rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Poppins';
    font-size: 1.2rem; 
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 40%;
    transform: rotate(20deg);
   
    
    position: absolute;
  
}


#features {
    padding: 7% 15%; 
    background-color:beige;
    z-index: 1;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-text {
    font-size: 1.5rem;
}

.icon{
    color:deeppink; 
    margin-bottom: 1rem; 

}

.icon:hover {
    color:aqua; 
    cursor: pointer;
}



#testimonials {
    padding: 4% 10%; 
    text-align: center;
    background-color:aqua; 

}

.carousel-item {
    padding: 4% 10%;
}

.cindy {
    font-size: 1.5rem;
}




.testimonial-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    border-radius: 20%;
}

.carousel-control-next {
    color:black;
}

#press {
    background-color:aqua;
    text-align: center;
}

.presslogo{ 
    width: 10%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
    background-color:beige;
}

.pricing-column {
    padding: 3% 2%;
}

.pricingp {
    font-size: 1.5rem;
}

.card-header {
    background-color:rgb(240, 107, 189);
}

.cheader {
    color:aliceblue;
    font-size: 2rem;
}

.price {
    font-size: 1.5rem;
}

#cta {
    background-color:aqua; 
    padding:4% 10%; 
    text-align:center;
}

.cta-heading {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 4% 10%;
    text-align: center;

}

.social-icons {
    margin: 20px 10px; 
}

.social-icons:hover {
    color:aqua;
    cursor: pointer; 
}


@media (max-width: 1028px){
    #title {
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    
    }
}


